section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section > label {
  margin: 15px;
  font-size: 20px;
  font-family: cursive;
}

section > option {
  margin-bottom: 10px;
}

section > button {
  margin-top: 50px;
}

#title {
  font-style: italic;
  font-family: cursive;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
