main {
  display: flex;
  background-color: rgb(71, 71, 71);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

h1 {
  font-family: cursive;
  border-bottom: 1px solid #ef952b;
}

h3 {
  font-family: cursive;
  color: #ef952b;
  font-style: italic;
}

input {
  font-size: 20px;
  width: 40%;
  background-color: #d4bc94;
  border: 2px solid #ef952b;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin: 5px 5px;
  font-weight: bold;
  font-family: cursive;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  overflow: auto;
}

img {
  overflow: auto;
}
