main {
  display: flex;
  background-color: rgb(71, 71, 71);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

input {
  font-size: 25px;
  width: 40%;
  background-color: #d4bc94;
  border: 1px solid #ef952b;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin: 5px 5px;
  font-family: cursive;
}
