section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  outline: none;
  margin: 10px 10px;
  background-color: white;
}

span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div {
  margin: 10px;
}

img {
  margin: 10px;
}

.funds {
  font-weight: bolder;
  font-size: 30px;
}
