<section class="completed">
    <img src="{{ house.Images[0] }}" alt="">
    <span>
        <div>
            <p *ngIf="house.Progress === 'In Progress'" class="funds">{{ fundsNeeded | money }} still needed!</p>
            <p *ngIf="house.Progress !== 'In Progress'" class="funds">Goal reached!</p>
            <p class="address">{{ house.Address }}</p>
            <p class="org">{{ house.OrganizationName }}</p>
        </div>
        <div>
            <p class="progress">{{ house.Progress }}</p>
        </div>
    </span>
</section>