ul {
  list-style-type: none;
  background-color: #d4bc94;
  height: 2.5em;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000;
}

li > a {
  color: #fff;
  text-decoration: none;
  display: inline;
  padding-right: 1.8em;
  padding-left: 0.45em;
  cursor: pointer;
  font-size: larger;
  font-family: cursive;
}

nav > ul > li > a.active {
  color: #ef952b;
  font-weight: bold;
}
