footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  border-top: 3px solid #000;
  width: 100%;
  display: flex;
  background-color: #d4bc94;
}

footer > * {
  padding: 0 1em;
}

p {
  font-family: cursive;
  font-style: italic;
}
