main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 750px;
  width: 75%;
}

div {
  width: 20%;
  background-color: orange;
  justify-content: center;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 5px;
}

span {
  display: flex;
  flex-direction: row;
}

cs-filter {
  justify-content: center;
  display: flex;
}
