main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 750px;
  width: 75%;
  min-width: 880px;
}

main::-webkit-scrollbar {
  display: none;
}

div {
  width: 15%;
  background-color: orange;
  justify-content: center;
  margin: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 205px;
  height: fit-content;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

cs-filter {
  justify-content: center;
  display: flex;
}
