<section *ngIf="house">
    <span>
        <div class="details">
            <img src="{{ house.Images[0] }}">
            <div>
                <h1 class="address">{{ house.Address }}</h1>
                <p class="progress">{{ house.Progress }}</p>
                <p *ngIf="house.Progress === 'In Progress'" class="funds">{{ fundsNeeded | money }} still needed!</p>
                <p *ngIf="house.Progress !== 'In Progress'" class="funds">Goal reached!</p>
                <p class="org">{{ house.OrganizationName }}</p>
            </div>
        </div>
        <div class="stack">
            <p class="description">{{ house.Description }}</p>
            <cs-edit-investment *ngIf="!isAdmin" [house]="house" [fundsNeeded]="fundsNeeded"></cs-edit-investment>
            <cs-edit-property *ngIf="isAdmin" [investors]="investors" [houseId]="houseId"></cs-edit-property>
        </div>
    </span>
</section>