<section *ngIf="house">
    <span>
        <div class="details">
            <div class="images">
                <p (click)="previous()" *ngIf="imageNumber > 0"><i class="arrow left"></i></p>
                <img src="{{ house.Images[imageNumber] }}">
                <p (click)="next()" *ngIf="imageNumber < house.Images.length - 1"><i class="arrow right"></i></p>
            </div>
            <div class="minor">
                <div class="addressFull">
                    <h1 class="address">{{ house.Address }}</h1>
                    <p class="address2">{{ house.City }}, {{ house.State }} {{house.ZipCode }}</p>
                </div>
                <div class="other">
                    <p class="progress">{{ house.Progress }}</p>
                    <p *ngIf="house.Progress === 'In Progress'" class="funds">{{ fundsNeeded | money }} still needed!</p>
                    <p *ngIf="house.Progress !== 'In Progress'" class="funds">Goal reached!</p>
                    <p class="org">{{ house.OrganizationName }}</p>
                </div>
            </div>
        </div>
        <div class="stack">
            <p class="description">{{ house.Description }}</p>
            <cs-edit-investment *ngIf="!isAdmin" [house]="house" [fundsNeeded]="fundsNeeded"></cs-edit-investment>
            <cs-edit-property *ngIf="isAdmin" [investors]="investors" [houseId]="houseId"></cs-edit-property>
        </div>
    </span>
</section>